.iconLeft {
    margin-right: 1.5rem;
    display: flex;
    align-items: flex-start;
}

.iconRight {
    margin-left: 1rem;
    display: flex;
    align-items: flex-end;
}


.about {
    height: fit-content;
    font-family: "Reddit Mono", monospace;
}

.about__intro {
    display: flex;
}

.about__introGreet {
    color: rgb(14, 107, 51);
    margin-top: 1rem;
}

.about__introName {
    color: rgb(14, 107, 51);
    font-size: 2rem;
}

.about__descriptionGreet {
    margin-top: 2rem;
    color: inherit;
    color: black;
    font-size: 1.3rem;
}

.about__hobbies {
    margin-top: 2rem;
}

.about__hobbiesTitle {
    margin-top: 3rem;
    color: rgb(14, 107, 51);
}

.about__hobbiesList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about__hobbiesItem {
    padding-top: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

@media screen and (max-width: 768px) {
    .about__hobbiesItem {
        width: min-content;
    }
}