.projects {
  margin: 5rem auto 0 auto;
  height: fit-content;
  font-family: "Reddit Mono", monospace;
}

.title {
  color: rgb(14, 107, 51);
  font-size: 2rem;
  text-align: center;
}

.scrollableContent {
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding-bottom: 1rem;
}

.scrollDotsWrapper {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.scrollDot {
  height: 8px;
  border-radius: 10px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1200px) {
  .projects {
    max-width: 98vw;
    width: 100%;
  }
}