.projects {
  margin: 5rem auto 0 auto;
  height: fit-content;
  font-family: "Reddit Mono", monospace;
}

.title {
  color: rgb(14, 107, 51);
  font-size: 2rem;
}

.listItem {
  margin-right: 2rem;
  margin-top: 2rem;
  display: inline-block;
}


.projectWrapper {
  display: inline;
}