.main {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.headerContent {
  display: inherit;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.headerContent_link {
  padding-left: 0.5rem;
}

.contentWrapper {
  width: 70%;
  margin: 2rem auto 0 auto;
}

.footer {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Reddit Mono", monospace;
  color: rgb(0, 0, 0);
}
