.main {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem; */
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.headerContent {
  display: inherit;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.headerContent_link {
  padding-left: 0.5rem;
}
